html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body * {
  box-sizing: border-box;
}
main {
  margin-top: 96px;
}
.link,
.link:hover {
  text-decoration: none;
  color: #434343 !important;
}

.link.active {
  font-weight: 600;
  border-bottom: 2px solid #434343;
}

nav.bg-dark {
  background-color: burlywood !important;
}
.navbar-brand {
  position: relative;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 80px;
  height: 80px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
section {
  padding: 4rem 0;
  min-height: 100vh;
}
.desktop {
  display: none;
}
section#top {
  color: floralwhite;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(43, 43, 43, 0.8),
      rgba(43, 43, 43, 0.4)
    ),
    url("../images/maib.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

section#top .container,
section#top .container .col-10 {
  height: 100vh;
}
section#top h1,
section#top p {
  font-family: "Courier New", Courier, monospace;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flexNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

section#about {
  min-height: 50vh;
}

section#gallery {
  min-height: 70vh;
  background-color: cornsilk;
}

.galleryImg {
  cursor: pointer;
}

section#contact {
  background-color: floralwhite;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  padding: 3rem 0;
  min-height: 20vh;
  background-color: cornsilk;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
.social-network a.icoYt:hover {
  background-color: #e52d27;
}
.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}
.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #1f2027;
}
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 3.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.8s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

/* Modal image styles */
.modal-dialog {
  padding: 0;
  max-width: 95vw !important;
  margin: auto;
  top: 25%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .desktop {
    display: block;
  }
  /* Modal image styles */
  .modal-dialog {
    padding: 0;
    top: 8%;
    max-width: 70vw !important;
  }
  section#gallery {
    min-height: 100vh;
  }
}
